   /* Este archivo contiene parte de los estilos de  
    * la parte derecha de la pagina "Configuracion_PROCESO.html",
    * la parte  que esta aqui es :
    *              Titulo   Formulario 
    *  Nota : Mensajes y Tabla estan en la sgt hoja
    *          de estilos pero no en esta.
    */
   
#Monitoreo_de_Plantas_imagenes{
	text-align: center;
}
#Monitoreo_de_Plantas_imagenes >div{
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	/*margin-top: 50px;*/
	margin-top:35px;
}
#Monitoreo_de_Plantas_imagenes img{
	width: 197px;
	height: 202px;
	/*margin-left: 27px;*/
	margin-bottom: 9px;
	padding: 2px; 
	background-color: rgb(218, 218, 218);
	/*display: block; */
}
#Monitoreo_de_Plantas_imagenes figure{
	/*text-align: center;*/
}
/*************************************************************/   
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:nth-child(odd){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
#actualizar_registro_configuracion_linealizacion_titulacion_y_alarmas  button{
	/*display: block;
	margin: auto;
	width: 55%;*/
	background: #274BA4;
    color: #f9ff02;
    border-style: outset;
    border-width: 3px;
    border-color: #274BA4;
    font-weight: bold; 
}